/* header */
.header .navbar {
    background: #009B4C !important;
}
.header .navbar .icon{
    color: white;
    font-size: 24px;
}
.header .navbar .title{
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
}
.header .navbar .desc{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: white;
}
.header .navbar .active{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.header .navbar li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}
.header .navbar a{
    color: white !important;
}


/* jumbotron */
.jumbotron{
    /* background-color: black !important; */
    background-image: url("assets/img/hero\ \(2\).png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.jumbotron:before{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.5);
    content: '';
    border-radius: 15px;
}
.jumbotron-item {
    position: relative;
}
.jumbotron .jumbotron-item .badge-success{
    margin-top: -20px;
    padding: 10px 84px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #009B4C;
    border-radius: 4px;
}
.jumbotron .jumbotron-item h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 69px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 24px;
}
.jumbotron .jumbotron-item .date{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.jumbotron .jumbotron-item .user{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.jumbotron .overlay-slide {
	position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.jumbotron .overlay-slide:hover .desc {
    transform: translate(0, 0);
	transition: all 0.2s ease-in;
}
.jumbotron .overlay-slide .desc {
	position: absolute;
    box-sizing: border-box;
    bottom: 0;
    transform: translate(0, 100%);
    background: linear-gradient(239.17deg, #1465756e 0%, #009B4Cad 61.61%);
    transition: all 0.2s ease-in;
    width: 100%;
    height: 50%;
    padding: 10px;
}
.jumbotron .overlay-slide .text-muted {
	font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: white !important;
    margin-bottom: 0;
}
.jumbotron .overlay-slide h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 0;
}
.jumbotron .slick-slide img{
    width: 100%;
}
.jumbotron .slick-slide{
    margin: 0px  5px;
}
.jumbotron .youtube{  
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 48px;
}

/* news */
.news .card{
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}
.news .card .badge{
    background: #009B4C;
    border-radius: 4px;
    padding: 5.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.news .card span{
    position: absolute;
    left: 0px;
    top: 0px;
}
.news .card .youtube{  
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 48px;
}
.news .card .icon{
    height: 240px;
    width: 254px;
    margin-bottom: 0;
    margin-top: -80%;
    margin-left: 0;
    position: relative;
}
.news .card .card-body .text-muted{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #AFAFAF;
}
.news .card .card-body .card-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #009B4C;
    text-align: left;
}
.news .card .card-body .card-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
}
.news .card .card-body .card-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #146575;
    display: flex;
    flex-direction: row-reverse;
}
.news .button .btn-success{
    background: #009B4C;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    height: 56px;
}

/* get brosur */
.get{
    background: url('assets/img/getbrosur.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    display: flex;
    margin-top: 100px;
}
.get .img{
    margin-left: 50px;
}
.get .desc h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 70px;
    text-align: center;
    color: #60D179;
    margin-top: -260px;
}
.get .desc p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #000000;
    padding: 0 220px;
}
.get .btn-success{
    background: #009B4C;
    border-radius: 4px;
    margin-top: 48px;
}


/* galeri */
.galeri{
    margin-top: -210px;
}
.galeri h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #009B4C;
}
.galeri .line{
    margin-bottom: 100px;
}
.galeri .overlay-slide {
	position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 16px;
    height: 305px;
}
.galeri .overlay-slide .img{
    object-fit: cover;
}
.galeri .galeri-img{
    width: 345px;
    height: 320px
}
.galeri .galeri-info{
    width: 500px;
    height: 360px;
}
.galeri .overlay-slide:hover .desc {
    transform: translate(0, 0);
	transition: all 0.2s ease-in;
}
.galeri .overlay-slide .desc {
	position: absolute;
    box-sizing: border-box;
    bottom: 0;
    transform: translate(0, 100%);
    background: linear-gradient(239.17deg, #1465756e 0%, #009B4Cad 61.61%);
    border-radius: 4px;
    transition: all 0.2s ease-in;
    width: 100%;
    height: 40%;
    padding: 10px;
}
.galeri .overlay-slide .text-muted {
	font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: white !important;
}
.galeri .overlay-slide h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}
.galeri .btn-success{
    background: #009B4C;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    height: 56px;
}

/* footer */
.footer{
    padding-top: 80px;
}
.footer h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 43px;
    color: #00501D;
    margin-top: 100px;
}
.footer  p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
}
.footer .contact h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #009B4C;
    margin-bottom: 16px;
}
.footer .contact p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #333333;
}
.footer .support img{
    margin-top: 16px;
}
.footer .copyright{
    text-align: center;
    background: linear-gradient(191.58deg, #023B09 0%, #009B4C 61.61%);
    padding: 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.footer .copyright a{
    color: yellow;
}

@media (min-width: 768px){
    .jumbotron .jumbotron-item h2{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 52px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .galeri .galeri-img{
        object-fit: cover;
        width: 345px;
        height: 320px !important;
    }
    .galeri .galeri-info{
        width: 100% !important;
        height: 350px !important;
        margin-bottom: 16px;
    }
    .galeri .overlay-slide .desc {
        position: absolute;
        box-sizing: border-box;
        bottom: 0;
        transform: translate(0, 100%);
        background: linear-gradient(239.17deg, #1465756e 0%, #009B4Cad 61.61%);
        border-radius: 4px;
        transition: all 0.2s ease-in;
        width: 100% !important;
        height: 40%;
        padding: 10px;
        margin-left: 0 !important;
    }
    .news .card .card-body .card-title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #009B4C;
        text-align: left;
    }
    .get .desc h2{
        padding: 0;
        font-size: 38px;
        margin-top: -210px;
    }
    .get .desc p{
        padding: 0px;
        display: flex;
    }
    .get .img{
        margin-left: 0;
    }
    .get .img img{
        width: 200px;
        margin-left: 0;
    }
    .footer-icon .media img{
        width: 100px;
        margin-bottom: 25px;
    }
    .footer .contact h4{
        margin-bottom: 0;
    }
}

@media (max-width: 576px){
    .jumbotron .jumbotron-item h2{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 52px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .news .card .youtube{  
        position: absolute;
        top: 25%;
        left: 45%;
        font-size: 48px;
    }
    .galeri .overlay-slide {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 16px;
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
    }
    .galeri .galeri-img{
        width: 100%;
        height: auto;
    }
    .galeri .overlay-slide .desc {
        position: absolute;
        box-sizing: border-box;
        bottom: 0;
        /* transform: translate(0, 100%) !important; */
        background: linear-gradient(239.17deg, #1465756e 0%, #009B4Cad 61.61%);
        border-radius: 4px;
        transition: all 0.2s ease-in;
        width: 100%;
        display: block;
        height: 40%;
        padding: 10px;
        
    }
    .galeri .overlay-slide .img{
        object-fit: cover;
        width: 100% ;
    }
    .galeri .galeri-info{
        width: 100%;
        margin-bottom: 16px;
    }
    .news .card .card-body .card-title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #009B4C;
        text-align: left;
    }
    .get .desc h2{
        padding: 0;
        font-size: 38px;
        margin-top: -210px;
    }
    .get .desc p{
        padding: 0px;
        display: flex;
    }
    .get .img{
        margin-left: 0;
    }
    .get .img img{
        width: 200px;
        margin-left: 0;
    }
    .get .desc{

    }

    .footer-icon .media img{
        width: 100px;
        margin-bottom: 25px;
    }
    .footer .contact h4{
        margin-bottom: 0;
    }
    
}


@media (min-width: 1200px){
    .jumbotron .jumbotron-item h2{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 52px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .news .card .youtube{  
        position: absolute;
        top: 15%;
        left: 40%;
        font-size: 48px;
    }
    .galeri .overlay-slide .desc {
        position: absolute;
        box-sizing: border-box;
        bottom: 0;
        transform: translate(0, 100%);
        background: linear-gradient(239.17deg, #1465756e 0%, #009B4Cad 61.61%);
        border-radius: 4px;
        transition: all 0.2s ease-in;
        width: 100%;
        height: 40%;
        padding: 10px;
        margin-left: 0;
    }
    .get .desc h2{
        padding-top: 80px;
        font-size: 47px;
    }
    .get .desc p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        padding: 0 220px;
    }
    .get .img{
        margin-left: 50px;
    }
}