body{
    overflow-x: hidden;
}

/* header */
.header .navbar{
    background-color: white;
    box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);
}
.header .navbar .media {
    margin-top: 20px;
    margin-bottom: 20px;
}
.header .navbar .media p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.header .navbar .media h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.header .navbar ul li{
    margin-left: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}
.header .navbar-nav .active>.nav-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 18px;
    line-height: 25px;
    color: #00AF00 !important;
}


/* galeri */
.galeri h2{
    margin-top: 80px;
    margin-bottom: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #00AF00;
}
.galeri .overlay-slide {
	position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.galeri .overlay-slide:hover .desc {
    transform: translate(0, 0);
	transition: all 0.2s ease-in;
}
.galeri .overlay-slide .desc {
	position: absolute;
    box-sizing: border-box;
    bottom: 0;
    transform: translate(0, 100%);
    background: linear-gradient(239.17deg, #1465756e 0%, #009B4Cad 61.61%);
    transition: all 0.2s ease-in;
    width: 100%;
    height: 50%;
    padding: 10px;
}
.galeri .overlay-slide .text-muted {
	font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: white !important;
    margin-bottom: 0;
}
.galeri .overlay-slide h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 0;
}
.galeri .carousel{
    margin-bottom: 60px !important;
    margin-top: 30px;
}
.galeri .galeri1{
    position: relative;
}
.galeri .galeri1::before{
    position: absolute;
    width: 95%;
    height: 85%;
    top: 0;
    left: 15px;
    background: linear-gradient(252.5deg, #023B09 0%, #00AF00 61.61%);
    opacity: 0.6;
    content: '';
    z-index: 1;
    padding: 0;
    
}

.carousel-indicators li{
    border-radius: 50% !important;
    width: 16px !important;
    height: 16px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #E5E5E5 !important;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.carousel-indicators {
    top: 100% !important;
}
.carousel-indicators .active{
    background-color: #00AF00 !important;
}


/* footer */
.footer {
    margin-top: 54px;
    background: linear-gradient(204.93deg, #023B09 -8.53%, #00AF00 25.74%);
}
.footer p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 32px;
    padding: 15px 0;
}
.footer p span{
    color: yellow;
}